/* Allgemeine Stile */
body {
    background-color: white; /* Weißer Hintergrund */
    color: black; /* Standardtextfarbe Schwarz */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Überschriften */
h1 {
    color: white; /* Weis für die Überschriften */
    margin-bottom: 20px;
}

h2 {
    color: #990000; /* Rot für alle Überschriften */
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
}

/* Hauptinhalt */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Absätze */
p {
    margin: 15px 0;
    color: black; /* Textfarbe Schwarz */
}

/* Links */
a {
    color: #990000; /* Rot für Links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Kopfbereich */
header {
    background-color: #990000; /* Dunkelrot */
    color: white; /* Weißer Text */
    padding: 20px;
    text-align: center;
}

/* Fußzeile */
footer {
    background-color: #990000; /* Dunkelrot */
    color: white; /* Weißer Text */
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
