{% extends "base.html" %}

{% block head %}
    <link rel="icon" href="{{ url_for('static', filename='nova.png') }}" type="image/x-icon">
{% endblock %}

{% block title %}Startseite – Autohaus Heilbronn{% endblock %}

{% block content %}
<div class="finanzierungsanfrage-container">
    <h2>Meine Admin Finanzierungsanfragen</h2>

    {% for eintrag in anfragen %}
    <div class="finanzierungsanfrage-card">
        <div class="auto-bild">
            <img src="{{ url_for('static', filename='images/' ~ eintrag.url) }}" alt="{{ eintrag.marke }} {{ eintrag.modell }}">
        </div>

        <div class="anfrage-details">
            <h3>{{ eintrag.marke }} {{ eintrag.modell }}</h3>
            <p><strong>Termin:</strong> {{ eintrag.Terminwunsch.strftime('%d.%m.%Y, %H:%M Uhr') }}</p>
            <p><strong>Finanzierungsdauer:</strong> {{ eintrag.Monate }} Monate</p>
            <p><strong>Anzahlung:</strong> {{ eintrag.Anzahlung }} €</p>
            <p><strong>Monatliche Rate:</strong> {{ eintrag.Monatliche_Rate }} €</p>
            <p><strong>Schlussrate:</strong> 5.000 €</p>

                    <span class="status {{ eintrag.Status|lower }}">{{ eintrag.Status|capitalize }}</span>
            </p>
        </div>

        <div class="aktionen-buttons">
            <form method="post" action="{{ url_for('admin_action') }}" class="admin-aktionen-form">
                <input type="hidden" name="anfrage_id" value="{{ eintrag.ID }}">
                <button type="submit" name="aktion" value="ablehnen">Ablehnen</button>
                <button type="submit" name="aktion" value="annehmen">Annehmen</button>
                <button type="submit" name="aktion" value="kaufvertrag">Kaufvertrag</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

<section class="admin-info-section">
    <h2>Datenbankstruktur & Adminfunktionen</h2>
    bitte aufteilken  in 3 schleifen Einmal in angefragt alle angefragten sollen oben angezeigt werden. Danach alle angenommen werden in der zweiten Schleife und in der dritten Schleife abgelehnte Autos des Weiteren Anfrage löschen bei Account und Admin

</section>

<div class="legal-content">
    <span class="legal-text">(c) 2023 - NOvA Drive GmbH</span>
    | <a href="#">Impressum</a>
    | <a href="#">Datenschutz</a>
</div>
{% endblock %}
