<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Autohaus Heilbronn{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='nova.png') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropdown_konto.css') }}">

    {% block head %}{% endblock %}
</head>
<body>

    <!-- NAVIGATION -->
    <div class="navbar">
        <h1 class="headline">
            NovaDrive<br><span class="text-highlight">Heilbronn</span>
        </h1>

        <div>
            <a href="{{ url_for('reviews') }}">Rezensionen</a>
            <a href="{{ url_for('index') }}">Homepage</a>
            <a href="{{ url_for('fahrzeugkatalog') }}">Fahrzeugkatalog</a>
            <a href="{{ url_for('finanzierungbsp') }}">Finanzierungsrechner</a>


            {% if 'user_id' in session %}
                <div class="dropdown">
                    <a href="#" class="dropbtn">
                        <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" alt="Mein Konto">
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('account') }}">Mein Konto</a>

                        {% if session.get('user_role') == 'admin' %}
                            <a href="{{ url_for('admin') }}">Adminbereich</a>
                        {% endif %}

                        <a href="{{ url_for('favorites') }}">Favoriten</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('Login') }}">Login</a>
            {% endif %}
        </div>
    </div>

    <!-- INHALT DER SEITE -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <div class="legal-content">
        <span class="legal-text">(c) 2023 - NovaDrive GmbH</span>
        | <a href="{{ url_for('impressum') }}">Impressum</a>
        | <a href="{{ url_for('datenschutz') }}">Datenschutz</a>
    </div>

</body>
</html>
