<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Benni </title>
</head>
<body>

<h1>Meine persöhnliche Seite</h1>
Meine eigene Seite
<br>
<a href="/">Zur Startseite</a>
<br>
<a href="/sipanweb">Zur Persölichen Website von Sipan</a>
<br>
<a href="/enes">Zur Persölichen Website von Enes</a>
<br>
<a href="/aliweb">Zur Persölichen Website von Ali</a>
<br>

<img src="/static/benni.jpg" width="300"



</body>
</html>