<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Enes</title>
</head>
<body>

<h1>Meine Persönliche Seite</h1>

Meine eigene Seite.
<br>
<a href="/">Zur Startseite</a>
<br>
<a href="/sipanweb">Zur Persölichen Website von Sipan</a>
<br>
<a href="/benniweb">Zur Persölichen Website von Benni</a>
<br>
<a href="/aliweb">Zur Persölichen Website von Ali</a>
<br>
<img src="/static/enes.png" width="250"

</body>
</html>