<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <title>Enes</title>
</head>
<body>
    <main>
        <header>
            <h1>Enes</h1>
        </header>
        <section>
            <a href="{{ url_for('index') }}"><button>Züruck zur Startseite</button></a>
            <br><br>
            <img src="{{ url_for('static', filename='enes.png') }}" alt="Mein Bild" style="width: 300px;">
            <br>

            {{ data }}
        </section>


    </main>

</body>
</html>