{% extends "base.html" %}

{% block head %}
    <link rel="icon" href="{{ url_for('static', filename='nova.png') }}" type="image/x-icon">
{% endblock %}

{% block title %}Fahrzeugkatalog – Autohaus Heilbronn{% endblock %}
 <link rel="icon" href="{{ url_for('static', filename='nova.png') }}" type="image/x-icon">
{% block content %}

<form class="search-bar-horizontal" action="#" method="get">
  <input type="text" value="Mercedes" readonly title="Marke">
   <input type="text" name="modell" placeholder="Modell (z. B. C-Klasse)" value="{{ request.args.get('modell', '') }}">
  <input type="number" name="preis" placeholder="Maximalpreis (€)" value="{{ request.args.get('preis', '') }}">
  <input type="number" name="baujahr" placeholder="Baujahr ab" value="{{ request.args.get('baujahr', '') }}">
  <input type="number" name="ps" placeholder="Leistung ab (PS)" value="{{ request.args.get('ps', '') }}">
  <button type="submit"> Suchen</button>
</form>

{% for fahrzeug in fahrzeuge %}
    <div class="image-container1">
        <img src="{{ url_for('static', filename=fahrzeug.url) }}" class="header-image"
             alt="Bild von {{ fahrzeug.marke }} {{ fahrzeug.modell }}">
    </div>
    <div class="fahrzeug-box">
  <div class="fahrzeug-details">
    <h3>{{ fahrzeug.marke }} {{ fahrzeug.modell }}</h3>
    <p><strong>Baujahr:</strong> {{ fahrzeug.baujahr }}</p>
    <p><strong>Leistung:</strong> {{ fahrzeug.leistung }} PS</p>
    <p><strong>Preis:</strong> {{ fahrzeug.preis }} €</p>
      <p><strong>Junge Sterne Garantie – geprüft und zertifiziert</strong> </p>
      <p><strong>12 Monate Gebrauchtwagenschutz inklusive</strong> </p>

  </div>

  <div class="fahrzeug-actions">
    <form action="/finanzierung/{{ fahrzeug.autoid }}" method="get">
      <button type="submit" class="btn-finanzieren">Finanzieren & Kaufen</button>
    </form>
    <form action="/pdf/{{ fahrzeug.autoid }}" method="get">
      <button type="submit" class="btn-pdf">PDF</button>
    </form>
  </div>
</div>
{% endfor %}
</body>
</html>
{% endblock %}