<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Der Kopfbereich: Hier kommen Infos für den Browser, nicht für den Nutzer -->
    <meta charset="UTF-8">
    <!-- Zeichensatz ist UTF-8 (für Sonderzeichen wie ä, ö, ü) -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Sorgt für Kompatibilität mit dem Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Wichtig für responsive Design (Skalierung auf Smartphones/Tablets) -->
    <title>Autohaus Heilbronn</title>
    <!-- Titel, der im Tab vom Browser angezeigt wird -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Stellt früher Verbindung zu Google Fonts her (schnelleres Laden) -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- Lädt die Schriftart "Open Sans" in verschiedenen Stärken von Google Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <!-- Hier beginnt der sichtbare Inhalt der Webseite -->

    <div class="navbar">
        <!-- Bereich für die Navigationsleiste (Menü) -->
        <h1 class="headline">
            <!-- Große Überschrift -->
            NovaDrive<br> <span class="text-highlight">Finanzierung</span>
            <!-- Die Stadt wird hervorgehoben durch die Klasse „text-highlight“ -->
        </h1>

        <div>
            <!-- Ein weiterer Block für die Navigation-Links -->
            <a href="{{ url_for('index') }}">Homepage</a>
            <!-- Link zu "Infos" (das # bedeutet: führt aktuell noch nirgendwo hin) -->
            <a href="fahrzeugkatalog">Fahrzeugkatalog</a>
            <!-- Link zu "Preise" -->
            <a href="account">Account </a>
            <!-- Link zu "Termin" -->
            <a href="index">index</a>
            <!-- Link zu "Standort" -->
        </div>
    </div>
 <section class="finanz-section">
    <div class="finanz-container">
      <h1 class="finanz-title">💶 Finanzierung berechnen</h1>
      <p class="finanz-sub">Effektiver Jahreszins: <strong>2 %</strong> – fair & transparent</p>

      <form method="post" class="finanz-form">

        <div class="finanz-row">
          <input type="number" name="fahrzeugpreis" placeholder="Fahrzeugpreis (€)" required>
          <input type="number" name="anzahlung" placeholder="Anzahlung (€)" required>
        </div>

        <div class="finanz-row">
          <input type="number" name="laufzeit" placeholder="Laufzeit (Monate)" required>
          <input type="number" name="schlussrate" placeholder="Schlussrate (€ – optional)" required>
        </div>

        <button type="submit" class="finanz-button">🧮 Monatsrate berechnen</button>

        {% if rate %}
          <div class="finanz-result">
            <span class="finanz-label">Monatliche Rate:</span>
            <span class="finanz-value">{{ rate }} €</span>
          </div>
        {% endif %}

      </form>
    </div>
  </section>
  </div>


<b>Autodatenbank nötig.</b><br>
Des Weiteren wird aus dem <b>Finanzierung Button</b> der Preis entnommen.<br>
<b>Anzahlung</b> plus <b>Anzahl an Monaten</b> wird gegeben.<br>
<b>Berechnung der Monatsrate</b> wird ausgegeben.<br><br>
    <p>
Sobald der Nutzer die Daten eingibt und auf „berechnen“ klickt:<br>
• wird die monatliche Rate berechnet,<br>
• die Eingaben und das Ergebnis werden darunter angezeigt,<br>
• und du kannst diese Daten bei Bedarf in die Datenbank speichern.<br>
<br>
⸻<br><br>
Willst du auch direkt danach den „Jetzt anfragen“ oder „Vertrag abschließen“-Button einbauen?<br>
Dann kann ich dir zeigen, wie man die Daten speichert, sobald der Nutzer zufrieden ist ✅
</p>

<b>Finanzierungsanfrage-Datenbank</b> muss erstellt werden, so dass der Admin die Finanzierungsanfrage <b>plus den Termin</b> sieht.<br><br>

<b>Klasse für die Datenbank (Finanzierungsanfrage):</b><br>
<code>
class Finanzierungsanfrage(db.Model):<br>
&nbsp;&nbsp;&nbsp;&nbsp;id = db.Column(db.Integer, primary_key=True)<br>
&nbsp;&nbsp;&nbsp;&nbsp;auto_id = db.Column(db.Integer, db.ForeignKey('auto.id'))<br>
&nbsp;&nbsp;&nbsp;&nbsp;user_id = db.Column(db.Integer, db.ForeignKey('user.id'))<br>
&nbsp;&nbsp;&nbsp;&nbsp;monate = db.Column(db.Integer)<br>
&nbsp;&nbsp;&nbsp;&nbsp;anzahlung = db.Column(db.Float)<br>
&nbsp;&nbsp;&nbsp;&nbsp;termin = db.Column(db.Date)<br>
&nbsp;&nbsp;&nbsp;&nbsp;monatliche_rate = db.Column(db.Float)<br>
</code><br><br>

<b>Berechnungsfunktion für die monatliche Rate:</b><br>
<code>
def berechne_rate(preis, monate, anzahlung):<br>
&nbsp;&nbsp;&nbsp;&nbsp;darlehen = preis - anzahlung<br>
&nbsp;&nbsp;&nbsp;&nbsp;zinsrate = 0.05  # Beispiel: 5% Zinssatz<br>
&nbsp;&nbsp;&nbsp;&nbsp;raten = darlehen * (zinsrate * (1 + zinsrate) ** monate) / ((1 + zinsrate) ** monate - 1)<br>
&nbsp;&nbsp;&nbsp;&nbsp;return raten<br>
</code><br>
Hinweis: Der Zinssatz <b>sollte aus der Datenbank kommen</b>, damit der Admin ihn jederzeit ändern kann.<br><br>

<b>Flask Route für Finanzierung:</b><br>
<code>
@app.route('/finanzierung/&lt;int:auto_id&gt;', methods=['GET', 'POST'])<br>
def finanzierung(auto_id):<br>
&nbsp;&nbsp;&nbsp;&nbsp;auto = Auto.query.get(auto_id)<br>
&nbsp;&nbsp;&nbsp;&nbsp;if request.method == 'POST':<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# Daten aus dem Formular erhalten<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;monate = request.form['monate']<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;anzahlung = request.form['anzahlung']<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;termin = request.form['termin']<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# Berechnung der monatlichen Rate<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gesamtpreis = auto.preis<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;monatliche_rate = berechne_rate(gesamtpreis, monate, anzahlung)<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;# Speichern der Finanzierungsdaten in der DB<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;finanzierung = Finanzierungsanfrage(<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;auto_id=auto.id,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;user_id=session['user_id'],<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;monate=monate,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;anzahlung=anzahlung,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;termin=termin,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;monatliche_rate=monatliche_rate<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db.session.add(finanzierung)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;db.session.commit()<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return redirect(url_for('finanzierungsbestätigung'))<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;return render_template('finanzierung.html', auto=auto)<br>
</code><br>

    Autodatenbank nötig. Des Weiteren wird aus dem Finanzierung Button der Preis entnommen.
    Anzahlung plus Anzahl an Monaten wird gegeben. Berechnung der Monatsrate wird ausgegeben.


    Finanzierungsanfrage Datenbank muss erstellt werden, so dass Admin Finanzierungsanfrage plus den Termin sieht


    class Finanzierungsanfrage(db.Model):
    id = db.Column(db.Integer, primary_key=True)
    auto_id = db.Column(db.Integer, db.ForeignKey('auto.id'))
    user_id = db.Column(db.Integer, db.ForeignKey('user.id'))
    monate = db.Column(db.Integer)
    anzahlung = db.Column(db.Float)
    termin = db.Column(db.Date)
    monatliche_rate = db.Column(db.Float)

    Berechnung

    def berechne_rate(preis, monate, anzahlung):
    darlehen = preis - anzahlung
    zinsrate = 0.05  # Beispiel: 5% Zinssatz   ->  wobei dass wieder aus datenbank kommen sollte so dasss admin es änder kann wann er will
    raten = darlehen * (zinsrate * (1 + zinsrate) ** monate) / ((1 + zinsrate) ** monate - 1)
    return raten


    route für flask finanzierung ist

    @app.route('/finanzierung/int:auto_id', methods=['GET', 'POST'])    hier wurden die pfeile weg gemacht konnte ich nicht schreiben bei auto id nachfragen und ich erkläre es dir
def finanzierung(auto_id):
    auto = Auto.query.get(auto_id)
    if request.method == 'POST':
        # Daten aus dem Formular erhalten
        monate = request.form['monate']
        anzahung = request.form['anzahlung']
        termin = request.form['termin']

        # Berechnung der monatlichen Rate
        gesamtpreis = auto.preis
        monatliche_rate = berechne_rate(gesamtpreis, monate, anzahlung)

        # Speichern der Finanzierungsdaten in der DB
        finanzierung = Finanzierungsanfrage(
            auto_id=auto.id,
            user_id=session['user_id'],
            monate=monate,
            anzahlung=anzahlung,
            termin=termin,
            monatliche_rate=monatliche_rate
        )
        db.session.add(finanzierung)
        db.session.commit()

        return redirect(url_for('finanzierungsbestätigung'))
    return render_template('finanzierung.html', auto=auto)



    <div class="legal-content">
        <!-- Footer-Bereich (unten auf der Seite) -->
        <span class="legal-text">(c) 2023 - NOvA Drive GmbH</span>
        <!-- Copyright-Hinweis -->

        | <a href="#">Impressum</a>
        <!-- Link zum Impressum -->
        | <a href="#">Datenschutz</a>
        <!-- Link zur Datenschutzerklärung -->
    </div>

</body>
</html>