{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block title %} Autohaus Heilbronn{% endblock %}

{% block content %}
    <div class="image-container">
        <img src="{{ url_for('static', filename='header2.webp') }}" class="header-image" alt="Header Bild">
    </div>

    <div class="text-container">
        Fahr die Zukunft – heute.
    </div>

    <div class="maps-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2611.149200799906!2d9.208837975376474!3d49.121801482134806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47982f20dad6455f%3A0xdd34a8fa0848409b!2sHochschule%20Heilbronn%20%E2%80%93%20TechCampus!5e0!3m2!1sde!2sde!4v1747215698035!5m2!1sde!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="text-container maps-right">
            <h3>📞 Kontakt</h3>
    <p>
        <strong>Telefon:</strong> +49 123 4567890<br>
        <strong>E-Mail:</strong> info@dein-autohaus.de
    </p>

    <h3>🕒 Öffnungszeiten</h3>
    <p>
        Montag – Freitag: 08:00 – 18:00<br>
        Samstag: 09:00 – 14:00<br>
        Sonntag: Geschlossen
    </p>

    <h3>📍 Adresse</h3>
    <p>
        Dein Autohaus GmbH<br>
        Musterstraße 12<br>
        12345 Musterstadt
    </p>
        </div>
    </div>


{% endblock %}
