{% extends "base.html" %}

{% block title %}Startseite – Autohaus Heilbronn{% endblock %}

{% block content %}

   <div class="image-container">
    <img src="{{ url_for('static', filename='header2.webp') }}" class="header-image" alt="Header Bild">
</div>
        <div class="text-container">
            Fahr die Zukunft – heute.
            <!-- Einfacher Text unter dem Bild (mit CSS kann der Text angepasst sein) -->
        </div>


        <div class="maps-container">
            <!-- Block für Google Maps und zusätzlichen Text -->
            <iframe class="maps-frame"
                src="https://www.google.com/maps/embed?bb=..."
                allowfullscreen="" loading="lazy"></iframe>
            <!-- Zeigt eine eingebettete Google Maps Karte an. "loading='lazy'" sorgt dafür, dass sie erst geladen wird, wenn man sie sieht. -->


        </div>
    </div>

    <div class="legal-content">
        <!-- Footer-Bereich (unten auf der Seite) -->
        <span class="legal-text">(c) 2023 - NOvA Drive GmbH</span>
        <!-- Copyright-Hinweis -->

        | <a href="#">Impressum</a>
        <!-- Link zum Impressum -->
        | <a href="#">Datenschutz</a>
        <!-- Link zur Datenschutzerklärung -->
    </div>

</body>
</html>
{% endblock %}